
<!-- 
   <form id="submitEntryForm" onsubmit="return validate(this);"> -->

<form id="submitEntryForm" action="/submitentry" method="post"></form>
<div>
   <p id="viewing">viewing all submissions</p>
   <a class='dropdown-trigger indigo accent-4 btn' href='#' data-target='dropdown1'>Filter</a>
  
      <button type="submit" class='btn blue accent-3 modal-trigger' href='#confirmationModal'>Submit Entries</button>

   <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
      -->
   <div id="confirmationModal" class="modal">
      <div class="modal-content">
         <h4>Confirm Fast Five</h4>
         <div class="valign-wrapper">
            <div style="width: 100%;">
               <hr class="list-divider">
            </div>
         </div>
         <div class="modal-content-entries">
         </div>
      </div>
      <div class="modal-footer">
         <input class="btn blue accent-3" type="submit" form="submitEntryForm" value="Submit!" />
       <!--   <a class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a> -->
      </div>
   </div>
   <ul id='dropdown1' class='dropdown-content'>
      <li><a id="filter-all" class="filter" href="#">View All</a></li>
      {{#each weeks}}
      <li><a id="filter-{{splitDate this}}" class="filter" href="#">{{this}}</a></li>
      {{/each}}
   </ul>
</div>
<br>
<br>
{{#with weeks.[1]}}
<input type="hidden" name="week" value="{{this}}" form="submitEntryForm"></input>
{{/with}}
{{#each sub}}
{{#if (newRow @index)}}
<div class="row">
   {{/if}}
   <div class="col s4">
      <div class="sub {{splitDate week}}">
         <div id="{{id}}" class="card">
            <div class="card-content white-text">
               <span>
                  <a href="/submissions/{{name}}" class="name">
                    {{#if used}}<i class="material-icons blue-text accent-3-text">done_all</i>{{/if}}{{name}}</a> 
                  <p class="sub-date">({{prettyDate timestamp }})</p>
               </span>
               <br>
               <span>
                  <p class="text">Link: &nbsp; </p>
                  <a href="{{url}}" class="sub-title">{{title}}</a>
                  <br>
               </span>
               
               <form class="setQuoteForm" name="setQuote" action="/setQuote/{{id}}" method="post">

                  <select id="sel-{{id}}" name="quote">
                      <option disabled>Change Quote</option>
                     <option hidden></option>
                     {{#if possibleQuotes.[0]}}
                     <option value='"{{possibleQuotes.[0]}}"'>"{{possibleQuotes.[0]}}"</option>
                     {{/if}}
                     {{#if possibleQuotes.[1]}}
                     <option value='"{{possibleQuotes.[1]}}"'>"{{possibleQuotes.[1]}}"</option>
                     {{/if}}
                     {{#if LQ}}
                     <option value='"{{LQ}}"'>"{{LQ}}"</option>
                     {{/if}}
                     <option class="option-other" value="Other (editable)">Other (editable)</option>
                  </select>
                  
                     {{#if (hasQuote actualQuote) }}
                     <input class="layer-input" id="dd-{{id}}" type="text" name="format" value="{{actualQuote}}"/>
                     {{else}}
                      <input class="layer-input" id="dd-{{id}}" type="text" name="format" placeholder="Set Quote" value=""/>
                     {{/if}}
               </form>
            </div>
            <div class="card-action">
               <p></p>
               <label><input type="checkbox" name="entry" class="checkbox filled-in" value="{{id}}"  form="submitEntryForm"/><span>Use as entry</span></label>
            </div>
         </div>
      </div>
   </div>
   {{#if (closeRow @index)}}
</div>
{{/if}}
{{/each}}
