<nav>
    <div class="nav-wrapper">
      <span id="title"><u>Fast Five Submissions</u></span>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">All Submissions</a></li>
        <li><a href="/fastfives">Previous Fast Fives</a></li>
        <li><a href="collapsible.html">Scoreboard</a></li>
      </ul>
    </div>
  </nav>



<form action="/submitentry" method="post">
<div>
	<p id="viewing">viewing all submissions</p>
	<a class='dropdown-trigger indigo accent-4 btn' href='#' data-target='dropdown1'>Filter</a>
	<button type="submit" class='btn blue accent-3' href='#'>Submit Entries</button>
	
	<ul id='dropdown1' class='dropdown-content'>
		<li><a id="filter-all" class="filter" href="#">View All</a></li>
   		{{#each weeks}}
			<li><a id="filter-{{splitDate this}}" class="filter" href="#">{{this}}</a></li>
		{{/each}}
  </ul>
        
</div>
<br>
<br>



	{{#with weeks.[1]}}
		<input type="hidden" name="week" value="{{this}}"></input>
	{{/with}}
	
	
{{#each sub}}
{{#if (newRow @index)}}
<div class="row">
{{/if}}




<div class="col s4">
<div class="sub {{splitDate week}}">

		
		<div class="card">
        <div class="card-content white-text">
          <span><a href="/submissions/{{name}}" class="name">{{name}}</a> <p class="sub-date">({{prettyDate week}})</p></span>
          <br>
          <span>
         <p class="text">Link: &nbsp; </p><a href="{{url}}" class="sub-title">{{title}}</a>
         <br>
         <span>
         <p class="text">Quote: &nbsp; </p>
         {{#if (hasQuote actualQuote) }}
			<p style="display:inline-block;">"{{actualQuote}}"</p>

         {{else}}
         	<a class="waves-effect modal-trigger" href="#modal">set quote</a>
         {{/if}}
         </span>
     </span>
        </div>
        <div class="card-action">
          <p></p>
          
          <label><input type="checkbox" name="entry" class="checkbox filled-in" value="{{url}}"/><span>Use as entry</span></label>
        </div>
      </div>
	
			


		<!-- <li class="collection-item"><strong><u>Possible Quotes:</u> </strong>
			<br>Message Before:<i>{{#if possibleQuotes.[0]}} "{{possibleQuotes.[0]}}" {{else}} none {{/if}}</i>
			<br>Message After:<i>{{#if possibleQuotes.[1]}} "{{possibleQuotes.[1]}}" {{else}} none {{/if}}</i>
		</li>
		<li class="collection-item"><strong><u>LQs:</u> </strong>
			{{#if LQ}}{{LQ}}{{else}}none{{/if}}
		</li> -->

	</div>
</div>
{{#if (closeRow @index)}}
</div>
{{/if}}
{{/each}}
</form>